@using SuperheroManager.Web.Utilities
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>Superhero Manager</title>
  <script src="~/Scripts/jquery-1.9.1.js"></script>
  <script src="~/Scripts/bootstrap.js"></script>
  <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
  <link href="~/Styles/application.css" rel="stylesheet" />
</head>
<body>
  <div class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="#" class="navbar-brand">Superhero Manager</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="@Html.ToggleClass("active", () => Html.ActionName() == "Index" && Html.ControllerName() == "Home")">
          @Html.ActionLink("Team Manager", "Index", "Home")
        </li>
        <li>
          <li class="@Html.ToggleClass("active", () => Html.ActionName() == "Index" && Html.ControllerName() == "SuperheroManager")">
            @Html.ActionLink("Superhero Manager", "Index", "SuperheroManager")
          </li>
        </li>
        <li class="@Html.ToggleClass("active", () => Html.ActionName() == "About")">
          @Html.ActionLink("About", "About", "Home")
        </li>
        @if (!User.Identity.IsAuthenticated)
        {
          <li>
            @Html.ActionLink("Login", "Index", "Account")
          </li>
        }
      </ul>

      @if (User.Identity.IsAuthenticated)
      {
        <ul class="nav navbar-nav navbar-right">
          <li>
            <p class="navbar-text">Hello @User.Identity.Name</p>
          </li>
          <li>
            @Html.ActionLink("Log out", "Logout", "Account")
          </li>
        </ul>
      }

    </div>
  </div>

<div class="container">
  @RenderBody()
</div>

  @RenderSection("Scripts", false)

</body>
</html>
