@using SuperheroManager.Web.Utilities
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>Superhero Manager</title>
  <script src="~/Scripts/bootstrap.js"></script>
  <script src="~/Scripts/jquery-1.9.1.js"></script>
  <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
  <div class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="#" class="navbar-brand">Superhero Manager</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="@Html.ToggleClass("active", () => Html.ActionName() == "Index")">
          @Html.ActionLink("Team Manager", "Index", "Home")
        </li>
        <li>
          <a href="#">Superhero Manager</a>
        </li>
        <li class="@Html.ToggleClass("active", () => Html.ActionName() == "About")">
          @Html.ActionLink("About", "About", "Home")
        </li>
      </ul>
    </div>
  </div>

  <div class="container">
    @RenderBody()
  </div>

</body>
</html>
