@using Lecture03.BlogPosts.EntityFramework.Domain

@{
    Layout = null;
}


@functions {
    private static String GetBlogPostActiveClassName(Boolean isActive)
    {
      return isActive ? "blog-post--active" : String.Empty;
    }
}

@helper RenderBlogPost(BlogPost blogPost, Boolean isActive)
{
    <li class="blog-post @GetBlogPostActiveClassName(isActive)">
      <div class="blog-post__heading">
        <div class="blog-post__heading--sub">
          @blogPost.CreatedDate.ToShortDateString()
        </div>
        <div class="heading__title">
          @blogPost.Title
        </div>
      </div>
      <div class="blog-post__content">
        @blogPost.Content
      </div>
    </li>
}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>JS Bin</title>
  <link rel="stylesheet" type="text/css" href="~/Static/index.css" />
</head>
<body>
  <div class="container">
    <h1 class="page-title">
      My Blog
    </h1>

    <ul class="blog-posts">
      @foreach (var blogPost in Model.TopBlogPosts)
      {
          @RenderBlogPost(blogPost, isActive: true)
      }

      @foreach (var blogPost in Model.BlogPosts)
      {
          @RenderBlogPost(blogPost, isActive: false)
      }
    </ul>
  </div>
</body>
</html>