@model SuperheroManager.Web.Controllers.SuperheroViewModel

@{ ViewBag.Title = "Index"; Layout = "~/Views/_Layout.cshtml"; }

<h2>Superhero Manager <small>Create a new superhero</small></h2>

@if (!ViewData.ModelState.IsValid)
{
  <div class="alert alert-danger">
    @Html.ValidationSummary()
  </div>
}

@using (Html.BeginForm("Index", "SuperheroManager", FormMethod.Post))
{
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="form-group">
        <div class="row">
          <div class="col-sm-6">
            <label for="name" class="control-label">
              Name
            </label>
          </div>

          <div class="col-sm-6">
            <div class="text-danger text-right">
              @Html.ValidationMessageFor(model => model.Name)
            </div>
          </div>
        </div>

        @Html.TextBoxFor(model => model.Name, new
        {
          @class = "form-control",
          placeholder = "Type your superhero name here ...",
          id = "name"
        })
      </div>

      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <div class="form-group">
            <label for="skill-name" class="control-label">
              New skill
            </label>
            
            @Html.TextBoxFor(model => model.NewSkill, new
            {
              @class = "form-control",
              placeholder = "Type your superhero skill here",
              id = "skill-name"
            })
          </div>

          <div class="text-right">
            <input type="button" id="add-skill" value="Add skill" class="btn btn-sm btn-primary"/>
            <input type="button" id="remove-skill" value="Remove selected skill" class="btn btn-sm btn-danger" />
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="form-group">
            <div class="row">
              <div class="col-sm-6">
                <label for="skills" class="control-label">
                  Skills
                </label>
              </div>
              <div class="col-sm-6">
                <div class="text-danger text-right">
                  @Html.ValidationMessageFor(model => model.Skills)
                </div>
              </div>
            </div> 

            @Html.ListBoxFor(model => model.Skills, Model.Skills.Select(skill => new SelectListItem
            {
              Text = skill,
              Value = skill
            }), new
            {
              id = "skills",
              size = 5,
              @class = "form-control"
            })
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 col-xs-12">
          <div class="form-group">
            <div class="row">
              <div class="col-sm-6">
                <label for="available-teams" class="control-label">Available teams</label>
              </div>

              <div class="col-sm-6">
                <div class="text-danger text-right" role="alert">
                  @Html.ValidationMessageFor(model => model.CurrentTeams)
                </div>
              </div>
            </div>
            

            @Html.ListBoxFor(model => model.CurrentTeams,
              Model.AvailableTeams.Select(team => new SelectListItem {Value = team, Text = team}),
              new {size = 5, id = "available-teams", @class = "form-control"})
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="text-right">
    <input type="submit" class="btn btn-primary" value="Create superhero" />
    <a href="@Url.Action("Index")" class="btn btn-warning">Clear data</a>
  </div>
}

@section Scripts {
  <script>
    $(function () {
      var $skills = $("#skills"),
          $addSkillBtn = $("#add-skill"),
          $removeSkillBtn = $("#remove-skill"),
          $skillName = $("#skill-name");

      $("form").on("submit", function() {
        debugger;
        $skills.find("option").attr("selected", "selected");
      });

      $addSkillBtn.on("click", function () {
        var value = $skillName.val();
        $("<option />")
          .val(value).text(value)
          .appendTo($skills);
      });

      $removeSkillBtn.on("click", function() {
        $skills.find("option:selected").detach();
      });
    });
  </script>
}